<div id="wrap" class="wrap">
        <div class="mockup">
          <img class="mockup__img" src="images/mockup.jpg" />
          <div id="mobile" class="mobile">
            <ul id="slideshow" class="slideshow">
              <li class="slideshow__item"><img src="images/small/1.png" /></li>
              <li class="slideshow__item"><img src="images/small/2.png" /></li>
              <li class="slideshow__item"><img src="images/small/3.png" /></li>
              <li class="slideshow__item"><img src="images/small/4.png" /></li>
            </ul>
          </div>
          <header class="codrops-header">
            <h1><span>Volontario</span><i>Entä jos auttaminen olisikin helppoa?</i></h1>
          </header>
        </div>
      </div>
      <div class="content">
           <div class="row">
           <br>

                <div class="col s4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis orci accumsan purus pulvinar, non dapibus magna congue. Maecenas elit felis, rhoncus convallis lorem nec, pretium viverra velit. Donec mattis egestas ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vulputate erat in quam dignissim ultricies. Phasellus et enim vulputate, aliquam nibh eu, lobortis leo. Suspendisse at velit ac nisl rhoncus scelerisque. Cras consectetur fermentum felis, quis aliquam neque ornare in.
                  <!-- Promo Content 1 goes here -->
                </div>
                <div class="col s4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis orci accumsan purus pulvinar, non dapibus magna congue. Maecenas elit felis, rhoncus convallis lorem nec, pretium viverra velit. Donec mattis egestas ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vulputate erat in quam dignissim ultricies. Phasellus et enim vulputate, aliquam nibh eu, lobortis leo. Suspendisse at velit ac nisl rhoncus scelerisque. Cras consectetur fermentum felis, quis aliquam neque ornare in. 
                  <!-- Promo Content 2 goes here -->
                </div>
                <div class="col s4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis orci accumsan purus pulvinar, non dapibus magna congue. Maecenas elit felis, rhoncus convallis lorem nec, pretium viverra velit. Donec mattis egestas ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vulputate erat in quam dignissim ultricies. Phasellus et enim vulputate, aliquam nibh eu, lobortis leo. Suspendisse at velit ac nisl rhoncus scelerisque. Cras consectetur fermentum felis, quis aliquam neque ornare in.
                  <!-- Promo Content 3 goes here -->
                </div>
                <!-- Promo Content 1 goes here -->
              </div>
            </div>
          
        <div class="grid">
          <figure class="effect-milo">
            <img src="images/33.jpg" alt="img12"/>
            <figcaption>
              <div>
                <h2>Haluatko <span>auttaa?</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
          <figure class="effect-milo">
            <img src="images/16.jpg" alt="img12"/>
            <figcaption>
              <div>
                <h2>Tarvitsetko <span>auttajaa?</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
        </div>
        <div class="grid">
          <figure class="effect-milo">
            <img src="images/33.jpg" alt="img12"/>
            <figcaption>
              <div>
                <h2>Haluatko <span>auttaa?</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
          <figure class="effect-milo">
            <img src="images/16.jpg" alt="img12"/>
            <figcaption>
              <div>
                <h2>Tarvitsetko <span>auttajaa?</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
        </div>
    </div>
    <!-- /container -->
    <script src="js/classie.js"></script>
    <script src="js/main.js"></script>
    <script>
      (function() {
        new Slideshow( document.getElementById( 'slideshow' ) );

        /* Mockup responsiveness */
        var body = docElem = window.document.documentElement,
          wrap = document.getElementById( 'wrap' ),
          mockup = wrap.querySelector( '.mockup' ),
          mockupWidth = mockup.offsetWidth;

        scaleMockup();

        function scaleMockup() {
          var wrapWidth = wrap.offsetWidth,
            val = wrapWidth / mockupWidth;

          mockup.style.transform = 'scale3d(' + val + ', ' + val + ', 1)';
        }
        
        window.addEventListener( 'resize', resizeHandler );

        function resizeHandler() {
          function delayed() {
            resize();
            resizeTimeout = null;
          }
          if ( typeof resizeTimeout != 'undefined' ) {
            clearTimeout( resizeTimeout );
          }
          resizeTimeout = setTimeout( delayed, 50 );
        }

        function resize() {
          scaleMockup();
        }
      })();
    </script>
